<template>
  <div>
    <Banner icon="restaurant">
      <h1>{{ uid2 && uid2 != 'add' ? 'Edit food' : 'Add food'}}</h1>
    </Banner>
    <Layout>
      <ContentArea>
        <Breadcrumb>
          <router-link :to="{ name: 'home' }">Trips</router-link>
          <router-link :to="{ name: 'trip', hash: '?details', params: { uid } }">{{!this.trip ? '' : this.trip.name}}</router-link>
          <router-link :to="{ name: 'food', params: { uid } }">Food</router-link>
          <span>{{ uid2 && uid2 != 'add' ? !this.food ? '' : this.food.name : 'New'}}</span>
        </Breadcrumb>
        <EditFood v-if="food" :uid="uid" :food="food" :places="places" :trip="trip"/>
      </ContentArea>
    </Layout>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { GET_TRIP } from 'src/store/trips/getter.types'
import { SET_META } from 'src/store/trips/action.types'
import Layout from 'src/components/content/Layout'
import Banner from 'src/components/content/Banner'
import ContentArea from 'src/components/content/ContentArea'
import Breadcrumb from 'src/components/content/Breadcrumb'
import EditFood from 'src/components/food/Edit'
import MetaTypes from 'src/helpers/metaTypes.js'
export default {
  components: {
    Layout,
    Banner,
    ContentArea,
    Breadcrumb,
    EditFood
  },
  data () {
    return {
      uid: this.$route.params.uid,
      uid2: this.$route.params.uid2,
      trip: null,
      food: null,
      places: null
    }
  },
  async created () {
    await this.setMeta({ uid: this.uid, meta: MetaTypes.Food })
    await this.setMeta({ uid: this.uid, meta: MetaTypes.Places })
    const trip = this.getTrip(this.uid)
    this.trip = { ...trip }
    const food = this.trip.meta.food.find(food => food.uid === this.uid2) || {}
    this.food = { ...food }
    this.places = [...this.trip.meta.places]
  },
  computed: {
    ...mapGetters({
      getTrip: GET_TRIP
    })
  },
  methods: {
    ...mapActions({
      setMeta: SET_META
    })
  }
}
</script>
