<template>
  <div>
    <Banner icon="restaurant">
      <h1>Food</h1>
    </Banner>
    <Layout>
      <ContentArea>
        <Breadcrumb>
          <router-link :to="{ name: 'home' }">Trips</router-link>
          <router-link :to="{ name: 'trip', hash: '?details', params: { uid } }">{{!this.trip ? '' : this.trip.name}}</router-link>
          <span>Food</span>
        </Breadcrumb>
      </ContentArea>
      <ContentArea>
        <Food v-for="(food, index) in food" :key="index" :food="food"/>
        <q-btn class="center" color="primary" label="Add food" @click="$router.push('food/add')"/>
      </ContentArea>
      <q-btn class="bottom-right" round color="primary" icon="add" @click="$router.push('food/add')"/>
    </Layout>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { GET_TRIP } from 'src/store/trips/getter.types'
import { SET_META } from 'src/store/trips/action.types'
import Layout from 'src/components/content/Layout'
import Banner from 'src/components/content/Banner'
import ContentArea from 'src/components/content/ContentArea'
import Breadcrumb from 'src/components/content/Breadcrumb'
import Food from 'src/components/food/Food'
import MetaTypes from 'src/helpers/metaTypes.js'
export default {
  components: {
    Layout,
    Banner,
    ContentArea,
    Breadcrumb,
    Food
  },
  data () {
    return {
      uid: this.$route.params.uid,
      trip: null,
      food: null
    }
  },
  async created () {
    await this.setMeta({ uid: this.uid, meta: MetaTypes.Food })
    this.trip = this.getTrip(this.uid)
    this.food = this.trip.meta.food
    this.food.sort((a, b) => a.timestamp - b.timestamp)
  },
  computed: {
    ...mapGetters({
      getTrip: GET_TRIP
    })
  },
  methods: {
    ...mapActions({
      setMeta: SET_META
    })
  }
}
</script>
