<template>
  <div>
    <Banner icon="notes">
      <h1>{{ uid2 && uid2 != 'add' ? 'Edit other' : 'Add other'}}</h1>
    </Banner>
    <Layout>
      <ContentArea>
        <Breadcrumb>
          <router-link :to="{ name: 'home' }">Trips</router-link>
          <router-link :to="{ name: 'trip', hash: '?details', params: { uid } }">{{!this.trip ? '' : this.trip.name}}</router-link>
          <router-link :to="{ name: 'other', params: { uid } }">Other</router-link>
          <span>{{ uid2 && uid2 != 'add' ? !this.other ? '' : this.other.name : 'New'}}</span>
        </Breadcrumb>
        <EditOther v-if="other" :uid="uid" :other="other" :places="places" :trip="trip"/>
      </ContentArea>
    </Layout>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { GET_TRIP } from 'src/store/trips/getter.types'
import { SET_META } from 'src/store/trips/action.types'
import Layout from 'src/components/content/Layout'
import Banner from 'src/components/content/Banner'
import ContentArea from 'src/components/content/ContentArea'
import Breadcrumb from 'src/components/content/Breadcrumb'
import EditOther from 'src/components/other/Edit'
import MetaTypes from 'src/helpers/metaTypes.js'
export default {
  components: {
    Layout,
    Banner,
    ContentArea,
    Breadcrumb,
    EditOther
  },
  data () {
    return {
      uid: this.$route.params.uid,
      uid2: this.$route.params.uid2,
      trip: null,
      other: null,
      places: null
    }
  },
  async created () {
    await this.setMeta({ uid: this.uid, meta: MetaTypes.Other })
    await this.setMeta({ uid: this.uid, meta: MetaTypes.Places })
    const trip = this.getTrip(this.uid)
    this.trip = { ...trip }
    const other = this.trip.meta.other.find(other => other.uid === this.uid2) || {}
    this.other = { ...other }
    this.places = [...this.trip.meta.places]
  },
  computed: {
    ...mapGetters({
      getTrip: GET_TRIP
    })
  },
  methods: {
    ...mapActions({
      setMeta: SET_META
    })
  }
}
</script>
