<template>
  <div>
    <p v-if="!place.uid">Use this section to add a new step on your trip. A country, a city, or an area for example.</p>
    <q-input
      ref="name"
      v-model="place.name"
      label="Name"
      hint="Place name (using Google)"
      input-class="place-name"
      :rules="[val => !!val || 'Field is required']"
    />
    <div class="image-upload">
      <q-file
        label="Image"
        accept=".jpg, image/*"
        hint="4Mb max"
        @input="uploadImage"
      />
      <div class="image-upload__image" v-if="imageLoading || place.image">
        <q-inner-loading :showing="imageLoading">
          <q-spinner size="50px" color="primary" />
        </q-inner-loading>
        <img :src="place.image" />
      </div>
    </div>
    <p class="negative" v-if="imageError">{{imageError}}</p>

    <q-input
      ref="date"
      v-model="place.startDate"
      label="Start date"
      hint="Day of arrival"
      :rules="[val => !!val || 'Field is required']"
      @click="$refs.qStartDateProxy.show()"
    >
      <template v-slot:append>
        <q-icon name="event" class="cursor-pointer">
          <q-popup-proxy ref="qStartDateProxy" transition-show="scale" transition-hide="scale">
            <q-date v-model="place.startDate" @input="() => $refs.qStartDateProxy.hide()" mask="DD/MM/YYYY HH:mm" :options="optionsStart"/>
          </q-popup-proxy>
        </q-icon>
        <q-icon name="access_time" class="cursor-pointer">
          <q-popup-proxy transition-show="scale" transition-hide="scale">
            <q-time v-model="place.startDate" mask="DD/MM/YYYY HH:mm" format24h />
          </q-popup-proxy>
        </q-icon>
      </template>
    </q-input>
    <q-input
      v-model="place.endDate"
      label="End date"
      hint="Day of departure"
      @click="$refs.qEndDateProxy.show()">
      <template v-slot:append>
        <q-icon name="event" class="cursor-pointer">
          <q-popup-proxy ref="qEndDateProxy" transition-show="scale" transition-hide="scale">
            <q-date v-model="place.endDate" @input="() => $refs.qEndDateProxy.hide()" mask="DD/MM/YYYY HH:mm" :options="optionsEnd"/>
          </q-popup-proxy>
        </q-icon>
        <q-icon name="access_time" class="cursor-pointer">
          <q-popup-proxy transition-show="scale" transition-hide="scale">
            <q-time v-model="place.endDate" mask="DD/MM/YYYY HH:mm" format24h />
          </q-popup-proxy>
        </q-icon>
      </template>
    </q-input>

    <div class="center">
      <q-btn v-if="place.uid" :disabled="!online" color="negative" label="Delete" @click="confirmRemove = true"/>
      <q-btn color="primary" :disabled="!online" label="Save" @click="save"/>
    </div>
    <Confirm :show="confirmRemove" @cancel="confirmRemove = false" @confirm="remove"/>
  </div>
</template>

<script>
import { tripCategoryRef, tripCategoryItemRef, firebaseTimeStamp } from 'src/helpers/firebaseRefs.js'
import { qDate, timestamp } from 'src/helpers/dates.js'
import mapInit, { setDetails } from 'src/helpers/maps.js'
import { compressImage, checkImage, storeImage } from 'src/helpers/files.js'
import MetaTypes from 'src/helpers/metaTypes.js'
import logError from 'src/helpers/error.js'
import EditMixin from 'src/mixins/Edit'
export default {
  mixins: [EditMixin],
  props: {
    uid: String,
    trip: Object,
    place: Object
  },
  data () {
    return {
      image: '',
      imageLoading: false,
      imageError: '',
      google: null
    }
  },
  async created () {
    this.google = await mapInit()
    const input = document.querySelector('.place-name')
    const autocomplete = new this.google.maps.places.Autocomplete(input, {})
    autocomplete.addListener('place_changed', async () => {
      const details = await autocomplete.getPlace()
      this.place.name = details.name
      setDetails(this.place, details)
    })
  },
  methods: {
    async save () {
      this.$refs.name.validate()
      this.$refs.date.validate()
      if (this.$refs.name.hasError || this.$refs.date.hasError) {
        return false
      }

      this.$q.loading.show()
      const data = { ...this.place }
      data.timestamp = timestamp(this.place.startDate)
      const fbData = { ...data }
      const storeData = { ...data }
      delete fbData.uid && delete fbData.googleImage
      if (this.place.uid) {
        await tripCategoryItemRef(this.uid, MetaTypes.Places, this.place.uid).set(fbData).catch(error => {
          logError(error)
        })
        this.updateMeta({ uid: this.uid, meta: MetaTypes.Places, updatedMeta: storeData, updatedMetaUid: storeData.uid })
      } else {
        fbData.createdAt = firebaseTimeStamp
        await tripCategoryRef(this.uid, MetaTypes.Places).add(fbData).then(result => {
          storeData.uid = result.id
        }).catch(error => {
          logError(error)
        })
        this.addMeta({ uid: this.uid, meta: MetaTypes.Places, newMeta: storeData })
      }
      this.$q.loading.hide()
      this.$router.go('-1')
    },
    uploadImage (image) {
      compressImage(image, 500 * 1024, 1000, Infinity, 0.9, async blob => {
        this.imageLoading = true
        this.imageError = checkImage(blob)
        if (this.imageError) {
          this.imageLoading = false
          return
        }
        this.place.image = await storeImage(blob, image.name)
        this.imageLoading = false
        if (this.place.uid) {
          const data = { ...this.place }
          const fbData = { ...data }
          const storeData = { ...data }
          await tripCategoryItemRef(this.uid, MetaTypes.Places, this.place.uid).set({
            image: fbData.image
          }).catch(error => {
            logError(error)
          })
          this.updateMeta({ uid: this.uid, meta: MetaTypes.Places, updatedMeta: storeData, updatedMetaUid: storeData.uid })
        }
      })
    },
    async remove () {
      this.$q.loading.show()
      await tripCategoryItemRef(this.uid, MetaTypes.Places, this.place.uid).delete().catch(error => {
        logError(error)
      })
      this.deleteMeta({ uid: this.uid, meta: MetaTypes.Places, deletedMeta: this.place })
      this.$q.loading.hide()
      this.$router.go('-1')
    },
    optionsStart (date) {
      return date >= qDate(this.trip.startDate) && (this.trip.endDate ? date <= qDate(this.trip.endDate) : true) && (this.place.endDate ? date <= qDate(this.place.endDate) : true)
    },
    optionsEnd (date) {
      return date >= qDate(this.trip.startDate) && (this.trip.endDate ? date <= qDate(this.trip.endDate) : true) && (this.place.startDate ? date >= qDate(this.place.startDate) : true)
    }
  }
}
</script>
