<template>
  <div class="places">
    <Place v-for="(place, index) in places" :key="index" :place="place" :uid="uid" :trip="trip"/>
    <q-btn class="center" color="primary" label="Add place" @click="$router.push(`${uid}/place/add`)"/>
    <q-btn class="bottom-right" round color="primary" icon="add" @click="$router.push(`${uid}/place/add`)"/>
  </div>
</template>

<script>
import Place from 'src/components/places/Place'
export default {
  components: {
    Place
  },
  props: {
    uid: String,
    trip: Object
  },
  data () {
    return {
      places: null
    }
  },
  created () {
    this.setPlaces()
  },
  methods: {
    setPlaces () {
      if (this.trip && this.trip.meta && this.trip.meta.places && this.trip.meta.places.length) {
        this.places = this.trip.meta.places
        this.places.sort((a, b) => a.timestamp - b.timestamp)
      }
    }
  },
  watch: {
    trip () {
      this.setPlaces()
    }
  }
}
</script>
