<template>
  <Card :style="image ? `background-image:url(${image})` : null" :url="`/trip/${uid}/place/${place.uid}`">
    <div slot="weather" v-if="weather">
      <img :src="`http://openweathermap.org/img/wn/${weather.icon}@2x.png`">
    </div>
    <h2 slot="title">
      {{place.name}}
    </h2>
    <div slot="date">
      <span class="start-date">{{place.startDate}}</span>
      <span class="days">{{days()}}</span>
      <span class="amount" v-if="place.price">{{`Total: ${currency}${place.price}`}}</span>
    </div>
  </Card>
</template>

<script>
import { mapActions } from 'vuex'
import MetaTypes from 'src/helpers/metaTypes.js'
import { UPDATE_META } from 'src/store/trips/action.types'
import { getCurrency as currency } from 'src/helpers/user.js'
import Card from 'src/components/content/Card'
import { timestamp, msToDays } from 'src/helpers/dates.js'
import mapInit, { getGoogleDetails } from 'src/helpers/maps.js'
import { getWeather } from 'src/helpers/weather.js'
export default {
  components: {
    Card
  },
  props: {
    uid: String,
    trip: Object,
    place: Object
  },
  data () {
    return {
      currency,
      image: this.place.image || this.place.googleImage || null,
      weather: null
    }
  },
  async created () {
    if (!this.place.image) {
      this.setImage()
    }

    const img = new Image()
    img.onload = (data) => {
      if (data.path[0].width === 100 && data.path[0].height === 100) {
        this.place.googleImage = ''
        this.setImage()
      }
    }
    img.src = this.place.image

    if (this.place.lat && this.place.lng) {
      this.weather = await getWeather(this.place.lat, this.place.lng)
    }

    const metas = Object.values(this.trip.meta).flat()
    const placeMeta = metas.filter(meta => {
      return meta.place === this.place.name
    })
    if (placeMeta.length === 1) {
      this.place.price = placeMeta[0].price
    } else if (placeMeta.length > 1) {
      this.place.price = Object.values(placeMeta).reduce((a, b) => a.price || 0 + b.price || 0)
    }
  },
  methods: {
    ...mapActions({
      updateMeta: UPDATE_META
    }),
    days () {
      if (this.place && this.place.endDate) {
        const da = timestamp(this.place.startDate)
        const de = timestamp(this.place.endDate)
        const momo = msToDays(de - da) + 1
        return `${Math.ceil(momo)} days`
      }
    },
    async setImage () {
      if (this.place.googleImage) {
        this.image = this.place.googleImage
        return
      }
      const google = await mapInit()
      const placeResult = await getGoogleDetails(google, this.place.name)
      if (placeResult && placeResult.photos) {
        this.place.googleImage = this.image = placeResult.photos[0].getUrl()
        const storeData = { ...this.place }
        this.updateMeta({ uid: this.uid, meta: MetaTypes.Places, updatedMeta: storeData, updatedMetaUid: storeData.uid })
      }
    }
  }
}
</script>
