<template>
  <div>
    <Banner icon="airplanemode_active">
      <h1>{{ uid2 && uid2 != 'add' ? 'Edit transport' : 'Add transport'}}</h1>
    </Banner>
    <Layout>
      <ContentArea>
        <Breadcrumb>
          <router-link :to="{ name: 'home' }">Trips</router-link>
          <router-link :to="{ name: 'trip', hash: '?details', params: { uid } }">{{!this.trip ? '' : this.trip.name}}</router-link>
          <router-link :to="{ name: 'transport', params: { uid } }">Transport</router-link>
          <span>{{ uid2 && uid2 != 'add' ? !this.transport ? '' : this.transport.name : 'New'}}</span>
        </Breadcrumb>
        <EditTransport v-if="transport" :uid="uid" :transport="transport" :places="places" :trip="trip"/>
      </ContentArea>
    </Layout>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { GET_TRIP } from 'src/store/trips/getter.types'
import { SET_META } from 'src/store/trips/action.types'
import Layout from 'src/components/content/Layout'
import Banner from 'src/components/content/Banner'
import ContentArea from 'src/components/content/ContentArea'
import Breadcrumb from 'src/components/content/Breadcrumb'
import EditTransport from 'src/components/transport/Edit'
import MetaTypes from 'src/helpers/metaTypes.js'
export default {
  components: {
    Layout,
    Banner,
    ContentArea,
    Breadcrumb,
    EditTransport
  },
  data () {
    return {
      uid: this.$route.params.uid,
      uid2: this.$route.params.uid2,
      trip: null,
      transport: null,
      places: null
    }
  },
  async created () {
    await this.setMeta({ uid: this.uid, meta: MetaTypes.Transport })
    await this.setMeta({ uid: this.uid, meta: MetaTypes.Places })
    const trip = this.getTrip(this.uid)
    this.trip = { ...trip }
    const transport = (this.trip.meta.transport && this.trip.meta.transport.find(transport => transport.uid === this.uid2)) || {}
    this.transport = { ...transport }
    this.places = [...this.trip.meta.places]
  },
  computed: {
    ...mapGetters({
      getTrip: GET_TRIP
    })
  },
  methods: {
    ...mapActions({
      setMeta: SET_META
    })
  }
}
</script>
