<template>
  <Selector @click.native="$router.push(`food/${food.uid}`)">
    <h2 slot="title">
      {{food.name}}
    </h2>
    <div slot="date">
      {{food.date}}
    </div>
    <div slot="amount" v-if="food.price">
      {{currency}}{{food.price}}
    </div>
  </Selector>
</template>

<script>
import Selector from 'src/components/content/Selector'
import { getCurrency as currency } from 'src/helpers/user.js'
export default {
  components: {
    Selector
  },
  data () {
    return {
      currency
    }
  },
  props: {
    food: Object
  }
}
</script>
