<template>
  <Selector v-if="small" @click.native="$router.push(`/trip/${uid}/accommodation/${accommodation.uid}`)">
    <q-icon name="home" slot="icon" />
    <h2 slot="title">
      {{accommodation.name}}
    </h2>
    <div slot="date">
      {{accommodation.startDate}}
    </div>
    <div slot="amount" v-if="accommodation.price">
      {{currency}}{{accommodation.price}}
    </div>
  </Selector>
  <Card v-else :style="image ? `background-image:url(${image})` : null" :url="`/trip/${uid}/accommodation/${accommodation.uid}`">
    <h2 slot="title">
      {{accommodation.name}}
    </h2>
    <div slot="date">
      <span class="start-date">{{accommodation.startDate}}</span>
      <span class="days">{{days()}}</span>
    </div>
  </Card>
</template>

<script>
import { mapActions } from 'vuex'
import MetaTypes from 'src/helpers/metaTypes.js'
import { UPDATE_META } from 'src/store/trips/action.types'
import { getCurrency as currency } from 'src/helpers/user.js'
import Card from 'src/components/content/Card'
import Selector from 'src/components/content/Selector'
import { timestamp, msToDays } from 'src/helpers/dates.js'
import mapInit, { getGoogleDetails } from 'src/helpers/maps.js'
export default {
  components: {
    Card,
    Selector
  },
  props: {
    uid: String,
    accommodation: Object,
    small: Boolean
  },
  data () {
    return {
      currency,
      image: this.accommodation.image || this.accommodation.googleImage || null
    }
  },
  async created () {
    if (!this.accommodation.image) {
      this.setImage()
    }
  },
  methods: {
    ...mapActions({
      updateMeta: UPDATE_META
    }),
    days () {
      if (this.accommodation && this.accommodation.endDate) {
        const da = timestamp(this.accommodation.startDate)
        const de = timestamp(this.accommodation.endDate)
        const momo = msToDays(de - da) + 1
        return `${Math.ceil(momo)} days`
      }
    },
    async setImage () {
      if (this.accommodation.googleImage) {
        this.image = this.accommodation.googleImage
        return
      }
      const google = await mapInit()
      const placeResult = await getGoogleDetails(google, this.accommodation.name)
      if (placeResult && placeResult.photos) {
        this.accommodation.googleImage = this.image = placeResult.photos[0].getUrl()
        const storeData = { ...this.accommodation }
        this.updateMeta({ uid: this.uid, meta: MetaTypes.Accommodation, updatedMeta: storeData, updatedMetaUid: storeData.uid })
      }
    }
  }
}
</script>
