<template>
  <div>
    <q-input
      ref="name"
      v-model="accommodation.name"
      label="Name *"
      hint="Accommodation name (using Google)"
      input-class="accommodation-name"
      :rules="[val => !!val || 'Field is required']"
    />
    <q-select
      v-if="places && places.length > 1"
      v-model="accommodation.place"
      :options="placeOptions"
      hint="Select one of your places to help you segregate budget"
      label="Place"
    />

    <Price :item="accommodation" />

    <div class="image-upload">
      <q-file
        label="Image"
        accept=".jpg, image/*"
        hint="4Mb max"
        @input="uploadImage"
      />
      <div class="image-upload__image" v-if="imageLoading || image || accommodation.image">
        <q-inner-loading :showing="imageLoading">
          <q-spinner size="50px" color="primary" />
        </q-inner-loading>
        <img :src="image || accommodation.image" />
      </div>
    </div>
    <p class="negative" v-if="imageError">{{imageError}}</p>
    <q-input
      ref="date"
      v-model="accommodation.startDate"
      label="Start date *"
      hint="Day your stay begins"
      :rules="[val => !!val || 'Field is required']"
      @click="$refs.qStartDateProxy.show()"
    >
      <template v-slot:append>
        <q-icon name="event" class="cursor-pointer">
          <q-popup-proxy ref="qStartDateProxy" transition-show="scale" transition-hide="scale">
            <q-date v-model="accommodation.startDate" @input="() => $refs.qStartDateProxy.hide()" mask="DD/MM/YYYY HH:mm" :options="optionsStart"/>
          </q-popup-proxy>
        </q-icon>
        <q-icon name="access_time" class="cursor-pointer">
          <q-popup-proxy transition-show="scale" transition-hide="scale">
            <q-time v-model="accommodation.startDate" mask="DD/MM/YYYY HH:mm" format24h />
          </q-popup-proxy>
        </q-icon>
      </template>
    </q-input>
    <q-input
      v-model="accommodation.endDate"
      label="End date"
      hint="Day your stay ends"
      @click="$refs.qEndDateProxy.show()"
    >
      <template v-slot:append>
        <q-icon name="event" class="cursor-pointer">
          <q-popup-proxy ref="qEndDateProxy" transition-show="scale" transition-hide="scale">
            <q-date v-model="accommodation.endDate" @input="() => $refs.qEndDateProxy.hide()" mask="DD/MM/YYYY HH:mm" :options="optionsEnd"/>
          </q-popup-proxy>
        </q-icon>
        <q-icon name="access_time" class="cursor-pointer">
          <q-popup-proxy transition-show="scale" transition-hide="scale">
            <q-time v-model="accommodation.endDate" mask="DD/MM/YYYY HH:mm" format24h />
          </q-popup-proxy>
        </q-icon>
      </template>
    </q-input>

    <div class="center">
      <q-btn v-if="accommodation.uid" :disabled="!online" color="negative" label="Delete" @click="confirmRemove = true"/>
      <q-btn color="primary" :disabled="!online" label="Save" @click="save"/>
    </div>
    <Confirm :show="confirmRemove" @cancel="confirmRemove = false" @confirm="remove"/>
  </div>
</template>

<script>
import { tripCategoryRef, tripCategoryItemRef, firebaseTimeStamp } from 'src/helpers/firebaseRefs.js'
import MetaTypes from 'src/helpers/metaTypes.js'
import { qDate, timestamp } from 'src/helpers/dates.js'
import Price from 'src/components/elements/Price'
import mapInit, { setDetails } from 'src/helpers/maps.js'
import { wait } from 'src/helpers/general.js'
import logError from 'src/helpers/error.js'
import { compressImage, checkImage, storeImage } from 'src/helpers/files.js'
import EditMixin from 'src/mixins/Edit'
export default {
  components: {
    Price
  },
  mixins: [EditMixin],
  props: {
    uid: String,
    trip: Object,
    accommodation: Object,
    places: Array
  },
  data () {
    return {
      image: '',
      imageLoading: false,
      imageError: '',
      google: null
    }
  },
  async created () {
    this.google = await mapInit()
    const input = document.querySelector('.accommodation-name')
    const autocomplete = new this.google.maps.places.Autocomplete(input, {})
    autocomplete.addListener('place_changed', async () => {
      const details = await autocomplete.getPlace()
      this.accommodation.name = details.name
      setDetails(this.accommodation, details)
    })
  },
  methods: {
    async save () {
      this.$refs.name.validate()
      this.$refs.date.validate()
      if (this.$refs.name.hasError || this.$refs.date.hasError) {
        return false
      }

      this.$q.loading.show()
      await wait(0.5)
      const data = { ...this.accommodation }
      if (this.image) {
        data.image = this.image
      }
      data.timestamp = timestamp(this.accommodation.startDate)
      const fbData = { ...data }
      const storeData = { ...data }
      delete fbData.uid && delete fbData.googleImage
      if (this.accommodation.uid) {
        await tripCategoryItemRef(this.uid, MetaTypes.Accommodation, this.accommodation.uid).set(fbData).catch(error => {
          logError(error)
        })
        this.updateMeta({ uid: this.uid, meta: MetaTypes.Accommodation, updatedMeta: storeData, updatedMetaUid: storeData.uid })
      } else {
        fbData.createdAt = firebaseTimeStamp
        await tripCategoryRef(this.uid, MetaTypes.Accommodation).add(fbData).then(result => {
          storeData.uid = result.id
        }).catch(error => {
          logError(error)
        })
        this.addMeta({ uid: this.uid, meta: MetaTypes.Accommodation, newMeta: storeData })
      }
      this.$q.loading.hide()
      this.$router.go('-1')
    },
    uploadImage (image) {
      compressImage(image, 500 * 1024, 1000, Infinity, 0.9, async blob => {
        this.imageLoading = true
        this.imageError = checkImage(blob)
        if (this.imageError) {
          this.imageLoading = false
          return
        }
        this.image = await storeImage(blob, image.name)
        this.imageLoading = false
      })
    },
    async remove () {
      this.$q.loading.show()
      await tripCategoryItemRef(this.uid, MetaTypes.Accommodation, this.accommodation.uid).delete().catch(error => {
        logError(error)
      })
      this.deleteMeta({ uid: this.uid, meta: MetaTypes.Accommodation, deletedMeta: this.accommodation })
      this.$q.loading.hide()
      this.$router.go('-1')
    },
    optionsStart (date) {
      return date >= qDate(this.trip.startDate) && (this.trip.endDate ? date <= qDate(this.trip.endDate) : true) && (this.accommodation.endDate ? (qDate(this.accommodation.endDate) && date <= qDate(this.accommodation.endDate)) : true)
    },
    optionsEnd (date) {
      return date >= qDate(this.trip.startDate) && (this.trip.endDate ? date <= qDate(this.trip.endDate) : true) && (this.accommodation.endDate ? (qDate(this.accommodation.startDate) && date >= qDate(this.accommodation.startDate)) : true)
    }
  }
}
</script>
