<template>
  <Selector @click.native="$router.push(`other/${other.uid}`)">
    <h2 slot="title">
      {{other.name}}
    </h2>
    <div slot="date">
      {{other.date}}
    </div>
    <div slot="amount" v-if="other.price">
      {{currency}}{{other.price}}
    </div>
  </Selector>
</template>

<script>
import Selector from 'src/components/content/Selector'
import { getCurrency as currency } from 'src/helpers/user.js'
export default {
  components: {
    Selector
  },
  data () {
    return {
      currency
    }
  },
  props: {
    other: Object
  }
}
</script>
