<template>
  <div>
    <Banner icon="airplanemode_active">
      <h1>Add trip</h1>
    </Banner>
    <Layout>
      <ContentArea>
        <EditTrip :trip="trip" :uid="uid"/>
      </ContentArea>
    </Layout>
  </div>
</template>

<script>
import Banner from 'src/components/content/Banner'
import Layout from 'src/components/content/Layout'
import ContentArea from 'src/components/content/ContentArea'
import EditTrip from 'src/components/trips/Edit'
export default {
  components: {
    Layout,
    Banner,
    ContentArea,
    EditTrip
  },
  data () {
    return {
      uid: this.$route.params.uid,
      trip: {}
    }
  }
}
</script>
