<template>
  <div>
    <template v-if="trip">
      <Banner :background="trip.image">
        <h1>{{trip.name}}</h1>
        <div class="trip-dates">
          {{trip.startDate}} - {{trip.endDate || '?'}}
        </div>
        <div class="trip-cost" :class="{'negative': total > trip.budget}">
          {{currency}}{{total}}{{trip.budget ? `/${currency}${trip.budget}` : null}}
        </div>
      </Banner>
      <q-tabs
        v-model="tab"
        inline-label
        class="tabs bg-primary text-white shadow-2"
      >
        <q-tab @click="!overview ? setEdit('?overview') : null" name="overview" icon="timeline" label="Overview" />
        <q-tab @click="!places ? setEdit('?places') : null" name="places" icon="location_on" label="Places" />
        <q-tab @click="!details ? setEdit('?details') : null" name="details" icon="local_hotel" label="Bookings" />
        <q-tab @click="!edit ? setEdit('?edit') : null" name="edit" icon="edit_location" label="Edit" />
      </q-tabs>
      <Layout>
        <template v-if="overview">
          <ContentArea>
            <Overview :trip="trip" :uid="uid"/>
          </ContentArea>
        </template>
        <template v-else-if="places">
          <ContentArea>
            <Places :trip="trip" :uid="uid"/>
          </ContentArea>
        </template>
        <template v-else-if="details">
          <ContentArea>
            <Details :trip="trip" :amounts="amounts" :uid="uid" :places="placesToSelect"/>
          </ContentArea>
        </template>
        <template v-else-if="edit">
          <ContentArea>
            <EditTrip :trip="trip" :uid="uid"/>
          </ContentArea>
        </template>
      </Layout>
    </template>
    <template v-else>
      <q-inner-loading showing>
        <q-spinner size="50px" color="primary" />
      </q-inner-loading>
    </template>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { GET_TRIP } from 'src/store/trips/getter.types'
import { SET_META } from 'src/store/trips/action.types'
import { getCurrency as currency } from 'src/helpers/user.js'
import { getAmounts } from 'src/helpers/trips.js'
import MetaTypes from 'src/helpers/metaTypes.js'
import Layout from 'src/components/content/Layout'
import Banner from 'src/components/content/Banner'
import ContentArea from 'src/components/content/ContentArea'
import Overview from 'src/components/trips/Overview'
import Details from 'src/components/trips/Details'
import Places from 'src/components/places/Places'
import EditTrip from 'src/components/trips/Edit'
export default {
  name: 'Trip',
  components: {
    Layout,
    Banner,
    ContentArea,
    EditTrip,
    Overview,
    Details,
    Places
  },
  data () {
    return {
      uid: this.$route.params.uid,
      trip: null,
      overview: true,
      places: false,
      edit: false,
      details: false,
      amounts: {
        accommodation: null,
        transport: null,
        activities: null,
        food: null,
        other: null
      },
      tab: 'overview',
      placesToSelect: null,
      currency
    }
  },
  async created () {
    await this.setMeta({ uid: this.uid, meta: MetaTypes.Places })
    await this.setMeta({ uid: this.uid, meta: MetaTypes.Accommodation })
    await this.setMeta({ uid: this.uid, meta: MetaTypes.Transport })
    await this.setMeta({ uid: this.uid, meta: MetaTypes.Activities })
    await this.setMeta({ uid: this.uid, meta: MetaTypes.Food })
    await this.setMeta({ uid: this.uid, meta: MetaTypes.Other })
    const trip = this.getTrip(this.uid)
    this.trip = { ...trip, meta: trip.meta || {} }
    this.placesToSelect = this.trip.meta.places
    this.amounts = getAmounts(this.trip.meta)
    window.onpopstate = () => {
      this.setTab()
    }
    this.setTab()
  },
  computed: {
    ...mapGetters({
      getTrip: GET_TRIP
    }),
    total () {
      return Object.values(this.amounts).reduce((a, b) => a + b)
    }
  },
  methods: {
    ...mapActions({
      setMeta: SET_META
    }),
    setTab () {
      const url = location.href.split('?')[1]
      if (url) {
        this.edit = url.indexOf('edit') > -1
        this.details = url.indexOf('details') > -1
        this.places = url.indexOf('places') > -1
        this.overview = url.indexOf('overview') > -1
      } else {
        this.overview = true
      }
      this.tab = (this.overview ? 'overview' : this.places ? 'places' : this.details ? 'details' : this.edit ? 'edit' : null)
    },
    setEdit (tab) {
      const url = location.href.split('?')[0] || location.href
      history.pushState({}, '', `${url}${tab}`)
      this.setTab()
    }
  }
}
</script>

<style lang="stylus" scoped>
.tabs
  margin -10px 0 12px

  >>> .q-tab
    padding 0 8px
    min-height 42px

  >>> .q-tab__label
    font-size 14px
    text-transform none

  >>> .q-tab__icon
    font-size 16px

.trip-dates
  position absolute
  bottom 10px
  left 10px

.trip-cost
  position absolute
  bottom 10px
  right 10px
</style>
