<template>
  <div class="banner" :class="{'banner--image': background}">
    <div class="banner__inner" :style="background ? `background-image:url('${background}')` : null">
      <slot />
      <q-icon v-if="icon" :name="icon" />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    background: String,
    icon: String
  }
}
</script>

<style lang="stylus" scoped>
.banner
  position relative
  overflow hidden
  margin-bottom 10px

  &__inner
    padding 10vh 10px 50px
    text-align center
    background-color $secondary
    background-position center
    background-size cover
    overflow hidden
    color white
    z-index 1

  &--image
    z-index 3
    &:before
      content ''
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      background linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.85) 100%)

    h1
      position relative
      z-index 2

  i
    opacity 0.1
    position fixed
    top 30px
    left 50%
    transform translateX(-50%)
    font-size 300px
</style>
