<template>
  <div class="breadcrumb">
    <slot />
  </div>
</template>

<script>
export default {
  props: {
    url: String
  }
}
</script>

<style lang="stylus" scoped>
.breadcrumb
  margin-bottom 10px
  a
    display inline-block

    &:after
      content '>'
      margin 0 5px
      display inline-block
      color black
</style>
