<template>
  <div class="card" @click="url ? $router.push(url): null">
    <div class="card__title">
      <slot name="title"/>
    </div>
    <div class="card__weather">
      <slot name="weather"/>
    </div>
    <div class="card__amount">
      <slot name="amount"/>
    </div>
    <div class="card__date">
      <slot name="date"/>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    url: String,
    small: Boolean
  }
}
</script>

<style lang="stylus" scoped>
.card
  width 100%
  height 50vw
  max-height 300px
  position relative
  color white
  padding 20px
  margin-bottom 10px
  background linear-gradient(180deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%)
  background-size cover
  background-position center

  &:after
    content ''
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%)

  &__title
    position absolute
    bottom 20px
    left 20px
    z-index 1
    max-width 50%

    h2
      margin 0

  &__amount,
  &__date
    position absolute
    bottom 20px
    right 20px
    z-index 1
    font-size 22px
    text-align right

  &__weather
    position absolute
    top 10px
    right 10px
    text-align center

    img
      width 50px

.start-date,
.amount
  display block
  font-size 14px
</style>
