<template>
  <q-dialog v-model="show" persistent>
    <q-card>
      <q-card-section class="row items-center">
        <q-avatar icon="error" color="negative" text-color="white" />
        <span class="q-ml-sm">{{displayText}}</span>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat label="Cancel" color="negative" @click="$emit('cancel')"/>
        <q-btn flat label="Confirm" color="primary" @click="$emit('confirm')" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  props: {
    show: Boolean,
    text: String
  },
  computed: {
    displayText () {
      return this.text || 'Are you sure you want to delete this item?'
    }
  }
}
</script>
