<template>
  <div class="section">
    <div class="inner">
      <slot />
    </div>
  </div>
</template>

<style lang="stylus" scoped>
.inner
  padding 0 10px
  position relative
  z-index 1
</style>
