<template>
  <div class="path">
    <svg height="20" width="10">
      <g fill="none" stroke="black" stroke-width="2">
        <path stroke-dasharray="6,6" d="M5 0 v6 20" />
      </g>
    </svg>
  </div>
</template>

<style lang="stylus" scoped>
.path
  text-align center

  svg
    display block
    margin 4px auto
</style>
