<template>
  <q-item clickable tag="a" target="_blank" :href="external ? link : null" @click="handleClick()">
    <q-item-section v-if="icon" avatar>
      <q-icon :name="icon" />
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ title }}</q-item-label>
      <q-item-label caption>{{ caption }}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
import { mapActions } from 'vuex'
import { SET_TRIPS } from 'src/store/trips/action.types'
import { SET_USER_ID } from 'src/store/user/action.types'
import firebase from 'firebase/app'
import logError from 'src/helpers/error.js'
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    caption: {
      type: String,
      default: ''
    },
    link: {
      type: String,
      default: '#'
    },
    icon: {
      type: String,
      default: ''
    },
    external: {
      type: Boolean,
      default: false
    },
    logout: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    ...mapActions({
      setTrips: SET_TRIPS,
      setUserId: SET_USER_ID
    }),
    handleClick () {
      if (this.external) {
        return false
      } else if (this.logout) {
        firebase.auth().signOut().then(() => {
          this.setUserId({ userId: null })
          this.setTrips({ reset: true })
        }).catch((error) => {
          logError(error)
        })
      } else {
        this.$router.push(this.link).catch(() => {})
      }
    }
  }
}
</script>
