<template>
  <div class="selector" @click="url ? $router.push(url): null" :class="{'selector--secondary': secondary, 'selector--negative': negative, 'selector--thin': thin}">
    <div class="selector__row">
      <div class="selector__item selector__item--icon" v-if="$slots.icon">
        <slot name="icon"/>
      </div>
      <div class="selector__item selector__item--title" v-if="$slots.title">
        <slot name="title"/>
      </div>
    </div>
    <div class="divider" />
    <div class="selector__row">
      <div class="divider" />
      <div class="selector__item selector__item--date" v-if="$slots.date">
        <slot name="date"/>
      </div>
      <div class="selector__item selector__item--amount" v-if="$slots.amount">
        <slot name="amount"/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    url: String,
    secondary: Boolean,
    negative: Boolean,
    thin: Boolean
  }
}
</script>

<style lang="stylus" scoped>
.selector
  width 100%
  background-color $secondary
  position relative
  color white
  padding 10px 5px
  margin-bottom 10px

  &--thin
    display flex
    align-items baseline

  &--secondary
    background-color $primary

  &--negative
    background-color $negative

  &__row
    display flex
    align-items baseline

  &__item
    padding 0 5px

    &--icon
      font-size 25px

    &--title
      h2
        margin 0
        font-size 20px

    &--amount
      font-size 22px

.divider
  margin-left auto
</style>
