<template>
  <div class="tab">
    <slot />
  </div>
</template>

<style lang="stylus" scoped>
.tab
  flex 1
  text-align center
  position relative
  &:before
    content '|'
    position absolute
    left 0

  &:first-child:before
    content none
</style>
