<template>
  <div>
    <Banner icon="local_offer">
      <h1>Activities</h1>
    </Banner>
    <Layout>
      <ContentArea>
        <Breadcrumb>
          <router-link :to="{ name: 'home' }">Trips</router-link>
          <router-link :to="{ name: 'trip', hash: '?details', params: { uid } }">{{!this.trip ? '' : this.trip.name}}</router-link>
          <span>Activities</span>
        </Breadcrumb>
      </ContentArea>
      <ContentArea>
        <Activity v-for="(activity, index) in activities" :key="index" :activity="activity" :uid="uid"/>
        <q-btn class="center" color="primary" label="Add activity" @click="$router.push('activities/add')"/>
      </ContentArea>
      <q-btn class="bottom-right" round color="primary" icon="add" @click="$router.push('activities/add')"/>
    </Layout>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { GET_TRIP } from 'src/store/trips/getter.types'
import { SET_META } from 'src/store/trips/action.types'
import Layout from 'src/components/content/Layout'
import Banner from 'src/components/content/Banner'
import ContentArea from 'src/components/content/ContentArea'
import Breadcrumb from 'src/components/content/Breadcrumb'
import Activity from 'src/components/activities/Activity'
import MetaTypes from 'src/helpers/metaTypes.js'
export default {
  components: {
    Layout,
    Banner,
    ContentArea,
    Breadcrumb,
    Activity
  },
  data () {
    return {
      uid: this.$route.params.uid,
      trip: null,
      activities: null
    }
  },
  async created () {
    await this.setMeta({ uid: this.uid, meta: MetaTypes.Activities })
    this.trip = this.getTrip(this.uid)
    this.activities = this.trip.meta.activities
    this.activities.sort((a, b) => a.timestamp - b.timestamp)
  },
  computed: {
    ...mapGetters({
      getTrip: GET_TRIP
    })
  },
  methods: {
    ...mapActions({
      setMeta: SET_META
    })
  }
}
</script>
