<template>
  <div>
    <Banner icon="airplanemode_active">
      <h1>{{ uid2 && uid2 != 'add' ? 'Edit activity' : 'Add activity'}}</h1>
    </Banner>
    <Layout>
      <ContentArea>
        <Breadcrumb>
          <router-link :to="{ name: 'home' }">Trips</router-link>
          <router-link :to="{ name: 'trip', hash: '?details', params: { uid } }">{{!this.trip ? '' : this.trip.name}}</router-link>
          <router-link :to="{ name: 'activities', params: { uid } }">Activities</router-link>
          <span>{{ uid2 && uid2 != 'add' ? !this.activity ? '' : this.activity.name : 'New'}}</span>
        </Breadcrumb>
        <EditActivity v-if="activity" :uid="uid" :activity="activity" :places="places" :trip="trip"/>
      </ContentArea>
    </Layout>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { GET_TRIP } from 'src/store/trips/getter.types'
import { SET_META } from 'src/store/trips/action.types'
import Layout from 'src/components/content/Layout'
import Banner from 'src/components/content/Banner'
import ContentArea from 'src/components/content/ContentArea'
import Breadcrumb from 'src/components/content/Breadcrumb'
import EditActivity from 'src/components/activities/Edit'
import MetaTypes from 'src/helpers/metaTypes.js'
export default {
  components: {
    Layout,
    Banner,
    ContentArea,
    Breadcrumb,
    EditActivity
  },
  data () {
    return {
      uid: this.$route.params.uid,
      uid2: this.$route.params.uid2,
      trip: null,
      activity: null,
      places: null
    }
  },
  async created () {
    await this.setMeta({ uid: this.uid, meta: MetaTypes.Activities })
    await this.setMeta({ uid: this.uid, meta: MetaTypes.Places })
    const trip = this.getTrip(this.uid)
    this.trip = { ...trip }
    const activity = (this.trip.meta.activities && this.trip.meta.activities.find(activity => activity.uid === this.uid2)) || {}
    this.activity = { ...activity }
    this.places = [...this.trip.meta.places]
  },
  computed: {
    ...mapGetters({
      getTrip: GET_TRIP
    })
  },
  methods: {
    ...mapActions({
      setMeta: SET_META
    })
  }
}
</script>
