<template>
  <div>
    <Banner icon="error">
      <h1>Error 404</h1>
    </Banner>
    <Layout>
      <ContentArea>
        <p>Sorry, this page does not exist</p>
      </ContentArea>
    </Layout>
  </div>
</template>

<script>
import Layout from 'src/components/content/Layout'
import Banner from 'src/components/content/Banner'
import ContentArea from 'src/components/content/ContentArea'
export default {
  name: 'Error404',
  components: {
    Layout,
    Banner,
    ContentArea
  }
}
</script>
