<template>
  <div>
    <Banner icon="map">
      <Map v-if="trips" :coords="coords"/>
      <h1 :class="{ 'map-title': coords }">Trips</h1>
    </Banner>
    <Trips v-if="trips" :trips="trips"/>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { SET_TRIPS, SET_META } from 'src/store/trips/action.types'
import { GET_TRIPS } from 'src/store/trips/getter.types'
import { GET_USER_ID } from 'src/store/user/getter.types'
import MetaTypes from 'src/helpers/metaTypes.js'
import { setMetaOverview, setMap } from 'src/helpers/trips.js'
import logError from 'src/helpers/error.js'
import Banner from 'src/components/content/Banner'
import Trips from 'src/components/trips/Trips'
import Map from 'src/components/map/Map'
export default {
  name: 'PageIndex',
  components: {
    Trips,
    Map,
    Banner
  },
  data () {
    return {
      trips: null,
      coords: null
    }
  },
  async mounted () {
    try {
      await this.setTrips()
      let trips = this.getTrips
      this.trips = [...trips]
      this.trips.sort((a, b) => b.timestamp - a.timestamp)

      if (window.navigator.onLine) {
        for (let i = 0; i < trips.length; i++) {
          await this.setMeta({ uid: trips[i].uid, meta: MetaTypes.Places })
          await this.setMeta({ uid: trips[i].uid, meta: MetaTypes.Transport })
        }
        trips = this.getTrips
        const metas = this.trips.map(trip => {
          return setMetaOverview(trip.meta)
        })
        const coordSet = []
        metas.forEach(meta => {
          meta.sort((a, b) => a.order - b.order)
          let coords = setMap(meta)
          coords = coords.filter(item => item !== undefined).flat()
          if (coords.length > 1) {
            coordSet.push(coords)
          }
        })
        this.coords = coordSet
      }
    } catch (error) {
      logError(error)
    }
  },
  computed: {
    ...mapGetters({
      getUserId: GET_USER_ID,
      getTrips: GET_TRIPS
    })
  },
  methods: {
    ...mapActions({
      setTrips: SET_TRIPS,
      setMeta: SET_META
    })
  }
}
</script>
<style lang="stylus" scoped>
.banner .map-title
  position relative
  z-index 2
</style>
