<template>
  <div>
    <Banner icon="airplanemode_active">
      <h1>Hello there.</h1>
    </Banner>
    <Layout>
      <ContentArea class="login">
        <p class="negative center" v-if="errorMessage">{{errorMessage}}</p>
        <template v-if="forgot">
          <q-input
            ref="email"
            type="email"
            v-model="email"
            label="Email address *"
            :rules="[val => !!val || 'Field is required']"
            @keydown.enter="sendReset"
          />
          <q-btn class="center" color="primary" label="Send password reset" @click="sendReset"/>
          <p class="link-list">
            <span @click="forgot = false">Back</span>
          </p>
        </template>
        <template v-else-if="create">
          <q-input
            ref="email"
            type="email"
            v-model="email"
            label="Email address *"
            :rules="[val => !!val || 'Field is required']"
            @keydown.enter="createAccount"
          />
          <q-input
            ref="password"
            type="password"
            v-model="password"
            label="Password *"
            :rules="[
              val => !!val || 'Field is required',
              val => val.length >= 8 || 'Please use minimum 8 characters'
            ]"
            @keydown.enter="createAccount"
          />
          <q-input
            ref="confirmPassword"
            type="password"
            v-model="confirmPassword"
            label="Confirm password *"
            :rules="[
              val => !!val || 'Field is required',
              val => val.length >= 8 || 'Please use minimum 8 characters',
              checkPasswordsMatch
            ]"
            @keydown.enter="createAccount"
          />
          <q-input
            class="hidden"
            type="email"
            name="email"
            v-model="emailSpamBlock"
            label="Email address"
          />
          <q-btn class="center" color="primary" label="Create account" @click="createAccount"/>
          <p class="link-list">
            <span @click="create = false">Back</span>
          </p>
        </template>
        <template v-else>
          <q-input
            ref="email"
            type="email"
            v-model="email"
            label="Email address *"
            :rules="[val => !!val || 'Field is required']"
            @keydown.enter="login"
          />
          <q-input
            ref="password"
            type="password"
            v-model="password"
            label="Password *"
            :rules="[
              val => !!val || 'Field is required',
              val => val.length >= 8 || 'Please use minimum 8 characters'
            ]"
            @keydown.enter="login"
          />
          <q-btn class="center" color="primary" label="Login" @click="login"/>
          <q-btn class="center" color="primary" label="Login with Google" @click="loginGoogle"/>
          <p class="link-list">
            <span @click="create = true">Create account</span>
            <span @click="forgot = true">Forgot password</span>
          </p>
        </template>
      </ContentArea>
    </Layout>
  </div>
</template>

<script>
import firebase from 'firebase/app'
import logError from 'src/helpers/error.js'
import Layout from 'src/components/content/Layout'
import Banner from 'src/components/content/Banner'
import ContentArea from 'src/components/content/ContentArea'
import { analytics } from 'src/helpers/firebaseRefs'
export default {
  name: 'Login',
  components: {
    Layout,
    Banner,
    ContentArea
  },
  data () {
    return {
      email: null,
      password: null,
      confirmPassword: null,
      emailSpamBlock: null,
      create: false,
      forgot: false,
      errorMessage: null
    }
  },
  methods: {
    createAccount () {
      this.errorMessage = ''
      this.$refs.email.validate()
      this.$refs.password.validate()
      this.$refs.confirmPassword.validate()
      if (this.$refs.email.hasError || this.$refs.password.hasError || this.$refs.confirmPassword.hasError || this.emailSpamBlock) {
        return false
      }

      this.$q.loading.show()
      firebase.auth().createUserWithEmailAndPassword(this.email, this.password).catch(error => {
        logError(error)
        this.errorMessage = error.message
      }).finally(() => {
        this.$q.loading.hide()
      })
    },
    login () {
      this.errorMessage = ''
      this.$refs.email.validate()
      this.$refs.password.validate()
      if (this.$refs.email.hasError || this.$refs.password.hasError) {
        return false
      }

      this.$q.loading.show()
      firebase.auth().signInWithEmailAndPassword(this.email, this.password).then(() => {
        analytics().logEvent('login')
      }).catch(error => {
        logError(error)
        this.errorMessage = error.message
      }).finally(() => {
        this.$q.loading.hide()
      })
    },
    loginGoogle () {
      this.errorMessage = ''
      const provider = new firebase.auth.GoogleAuthProvider()
      firebase.auth().signInWithPopup(provider).catch(error => {
        logError(error)
        this.errorMessage = error.message
      })
    },
    checkPasswordsMatch (val) {
      if (val !== this.password) {
        return 'Passwords do not match'
      }
    },
    sendReset () {
      this.errorMessage = ''
      this.$refs.email.validate()
      if (this.$refs.email.hasError) {
        return false
      }

      this.$q.loading.show()
      firebase.auth().sendPasswordResetEmail(this.email).then(() => {
        this.forgot = false
        this.message = 'A password reminder email has been sent if that email address has an account.'
      }).catch(error => {
        logError(error)
        this.errorMessage = error.message
      }).finally(() => {
        this.$q.loading.hide()
      })
    }
  }
}
</script>

<style lang="stylus" scoped>
.login
  margin 3vh 0 80px

.link-list
  text-align center

  span
    cursor pointer
    &:before
      content '|'
      margin 0 10px

    &:first-child:before
      content none
</style>
