<template>
  <div>
    <Banner icon="settings">
      <h1>Profile</h1>
    </Banner>
    <Layout>
      <ContentArea>
        <p class="negative center" v-if="errorMessage">{{errorMessage}}</p>
        <q-input v-model="user.name" type="text" label="Name"/>
        <q-select v-model="user.currency" label="Currency" :options="currencies" />
        <h3>Change password</h3>
        <q-input
          ref="currentPassword"
          type="password"
          v-model="currentPassword"
          label="Password"
          readonly="readonly"
          onfocus="javascript: this.removeAttribute('readonly')"
          :rules="[
            val => !!val || 'Field is required',
            val => val.length >= 8 || 'Please use minimum 8 characters'
          ]"
          @keydown.enter="save"
        />
        <q-input
          ref="newPassword"
          type="password"
          v-model="newPassword"
          label="New password"
          readonly="readonly"
          onfocus="javascript: this.removeAttribute('readonly')"
          :rules="[
            val => !!val || 'Field is required',
            val => val.length >= 8 || 'Please use minimum 8 characters'
          ]"
          @keydown.enter="save"
        />
        <q-input
          ref="confirmPassword"
          type="password"
          v-model="confirmPassword"
          label="Confirm password"
          readonly="readonly"
          onfocus="javascript: this.removeAttribute('readonly')"
          :rules="[
            val => !!val || 'Field is required',
            val => val.length >= 8 || 'Please use minimum 8 characters',
            checkPasswordsMatch
          ]"
          @keydown.enter="save"
        />
        <div class="center">
          <q-btn color="primary" label="Save" @click="save"/>
        </div>
        <p class="center" @click="confirmRemove = true">Delete account</p>
        <Confirm :show="confirmRemove" @cancel="confirmRemove = false" @confirm="remove" text="Are you sure you want to delete your account and all data assigned to it? This cannot be undone."/>
      </ContentArea>
    </Layout>
  </div>
</template>

<script>
import firebase from 'firebase/app'
import { mapGetters, mapActions } from 'vuex'
import { SET_TRIPS } from 'src/store/trips/action.types'
import { GET_USER_DETAILS } from 'src/store/user/getter.types'
import { SET_USER_ID, UPDATE_USER_DETAILS } from 'src/store/user/action.types'
import { userRef } from 'src/helpers/firebaseRefs.js'
import { currencies } from 'src/helpers/exchangeRates.js'
import logError from 'src/helpers/error.js'
import Layout from 'src/components/content/Layout'
import Banner from 'src/components/content/Banner'
import ContentArea from 'src/components/content/ContentArea'
import Confirm from 'src/components/content/Confirm'
export default {
  name: 'Profile',
  components: {
    Layout,
    Banner,
    ContentArea,
    Confirm
  },
  data () {
    return {
      user: {
        name: '',
        currency: {
          label: 'British Pound',
          value: '£',
          iso: 'GBP'
        }
      },
      errorMessage: null,
      currentPassword: null,
      newPassword: null,
      confirmPassword: null,
      currencies,
      confirmRemove: false
    }
  },
  async created () {
    const user = await this.getUserDetails || this.user
    this.user = { ...user }
  },
  computed: {
    ...mapGetters({
      getUserDetails: GET_USER_DETAILS
    })
  },
  methods: {
    ...mapActions({
      setTrips: SET_TRIPS,
      setUserId: SET_USER_ID,
      updateUserDetails: UPDATE_USER_DETAILS
    }),
    async save () {
      this.errorMessage = ''
      this.$q.loading.show()
      delete this.user.password
      await userRef().set(this.user)
      this.updateUserDetails({ userDetails: this.user })
      let passwordError = false

      if (this.newPassword) {
        this.$refs.currentPassword.validate()
        this.$refs.newPassword.validate()
        this.$refs.confirmPassword.validate()
        if (this.$refs.currentPassword.hasError || this.$refs.newPassword.hasError || this.$refs.confirmPassword.hasError) {
          this.$q.loading.hide()
          return
        }

        const user = firebase.auth().currentUser
        await user.reauthenticateWithCredential(firebase.auth.EmailAuthProvider.credential(
          user.email, this.currentPassword
        )).then(async () => {
          await user.updatePassword(this.newPassword).catch(error => {
            logError(error)
            this.errorMessage = error.message
            passwordError = true
          })
        }).catch(error => {
          logError(error)
          this.errorMessage = error.message
          passwordError = true
        })
      }

      this.$q.loading.hide()
      if (!passwordError) {
        this.$router.go('-1')
      }
    },
    remove () {
      this.$q.loading.show()
      const user = firebase.auth().currentUser
      user.delete().then(() => {
        this.setUserId({ userId: null })
        this.setTrips({ reset: true })
      }).catch((error) => {
        logError(error)
      }).finally(() => {
        this.$q.loading.hide()
      })
    },
    checkPasswordsMatch (val) {
      if (val !== this.newPassword) {
        return 'Passwords do not match'
      }
    }
  }
}
</script>
