<template>
  <Selector @click.native="$router.push(`/trip/${uid}/activities/${activity.uid}`)">
    <q-icon v-if="icon" name="local_offer" slot="icon" />
    <h2 slot="title">
      {{activity.name}}
    </h2>
    <div slot="date">
      {{activity.date}}
    </div>
    <div slot="amount" v-if="activity.price">
      {{currency}}{{activity.price}}
    </div>
  </Selector>
</template>

<script>
import Selector from 'src/components/content/Selector'
import { getCurrency as currency } from 'src/helpers/user.js'
export default {
  components: {
    Selector
  },
  props: {
    uid: String,
    activity: Object,
    icon: Boolean
  },
  data () {
    return {
      currency
    }
  }
}
</script>
