<template>
  <div>
    <q-input
      ref="name"
      v-model="activity.name"
      label="Name *"
      hint="Skydiving, Museum visit..."
      :rules="[val => !!val || 'Field is required']"
    />
    <q-select
      v-if="places && places.length > 1"
      v-model="activity.place"
      :options="placeOptions"
      hint="Select one of your places to help you segregate budget"
      label="Place"
    />

    <Price :item="activity" />

    <q-input
      ref="date"
      v-model="activity.date"
      label="Date *"
      hint="Day of activity"
      :rules="[val => !!val || 'Field is required']"
      @click="$refs.qDateProxy.show()"
    >
      <template v-slot:append>
        <q-icon name="event" class="cursor-pointer">
          <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
            <q-date v-model="activity.date" @input="() => $refs.qDateProxy.hide()" mask="DD/MM/YYYY HH:mm" :options="dateOptions"/>
          </q-popup-proxy>
        </q-icon>
        <q-icon name="access_time" class="cursor-pointer">
          <q-popup-proxy transition-show="scale" transition-hide="scale">
            <q-time v-model="activity.date" mask="DD/MM/YYYY HH:mm" format24h />
          </q-popup-proxy>
        </q-icon>
      </template>
    </q-input>

    <div class="center">
      <q-btn v-if="activity.uid" :disabled="!online" color="negative" label="Delete" @click="confirmRemove = true"/>
      <q-btn color="primary" :disabled="!online" label="Save" @click="save"/>
    </div>
    <Confirm :show="confirmRemove" @cancel="confirmRemove = false" @confirm="remove"/>
  </div>
</template>

<script>
import { tripCategoryRef, tripCategoryItemRef, firebaseTimeStamp } from 'src/helpers/firebaseRefs.js'
import MetaTypes from 'src/helpers/metaTypes.js'
import Price from 'src/components/elements/Price'
import { qDate, timestamp } from 'src/helpers/dates.js'
import { wait } from 'src/helpers/general.js'
import logError from 'src/helpers/error.js'
import EditMixin from 'src/mixins/Edit'
export default {
  components: {
    Price
  },
  mixins: [EditMixin],
  props: {
    uid: String,
    trip: Object,
    activity: Object,
    places: Array
  },
  methods: {
    async save () {
      this.$refs.name.validate()
      this.$refs.date.validate()
      if (this.$refs.name.hasError || this.$refs.date.hasError) {
        return false
      }

      this.$q.loading.show()
      await wait(0.5)
      const data = { ...this.activity }
      data.timestamp = timestamp(this.activity.date)
      const fbData = { ...data }
      const storeData = { ...data }
      delete fbData.uid
      if (this.activity.uid) {
        await tripCategoryItemRef(this.uid, MetaTypes.Activities, this.activity.uid).set(fbData).catch(error => {
          logError(error)
        })
        this.updateMeta({ uid: this.uid, meta: MetaTypes.Activities, updatedMeta: storeData, updatedMetaUid: storeData.uid })
      } else {
        fbData.createdAt = firebaseTimeStamp
        await tripCategoryRef(this.uid, MetaTypes.Activities).add(fbData).then(data => {
          storeData.uid = data.id
        }).catch(error => {
          logError(error)
        })
        this.addMeta({ uid: this.uid, meta: MetaTypes.Activities, newMeta: storeData })
      }
      this.$q.loading.hide()
      this.$router.go('-1')
    },
    async remove () {
      this.$q.loading.show()
      this.deleteMeta({ uid: this.uid, meta: MetaTypes.Activities, deletedMeta: this.activity })
      await tripCategoryItemRef(this.uid, MetaTypes.Activities, this.activity.uid).delete().catch(error => {
        logError(error)
      })
      this.$q.loading.hide()
      this.$router.go('-1')
    },
    dateOptions (date) {
      return date >= qDate(this.trip.startDate) && date <= qDate(this.trip.endDate)
    }
  }
}
</script>
