// app global css in SCSS form
@import 'quasar.variables'

body
  font-family 'Raleway'

h1
  font-weight 600
  font-size 42px
  line-height 48px
  padding 20px 0
  margin 0

h2
  font-weight 600
  font-size 28px
  line-height 32px

h3
  font-size 18px
  font-weight 500
  margin 20px 0 0
a
  color $secondary

p
  margin 1em 0

.center
  display block
  margin 0 auto
  text-align center

  .q-btn
    margin-left 5px
    margin-right 5px

.bottom-right
  position fixed
  bottom 20px
  right 20px
  z-index 9

.positive
  color $positive

.negative
  color $negative

header,
.q-layout__section--marginal
  background none
  z-index 5

.header-bg
  width 100%
  height 50px
  position fixed
  left 0
  top 0
  background $secondary
  z-index 2

.q-btn
  text-transform none
  margin-top 20px
  margin-bottom 20px

header .q-btn,
.q-btn--round
  margin 0

.q-field
  margin-bottom 10px

.q-btn--rectangle
  border-radius 8px

.q-btn__wrapper
  padding 10px 26px

.toggle
  color: rgba(0, 0, 0, 0.6)

.image-upload
  position relative
  display flex

  &__image
    max-width 20%

    img
      width 100%
