<template>
  <div>
    <Banner icon="local_hotel">
      <h1>Accommodation</h1>
    </Banner>
    <Layout>
      <ContentArea>
        <Breadcrumb>
          <router-link :to="{ name: 'home' }">Trips</router-link>
          <router-link :to="{ name: 'trip', hash: '?details', params: { uid } }">{{!this.trip ? '' : this.trip.name}}</router-link>
          <span>Accomodation</span>
        </Breadcrumb>
      </ContentArea>
      <ContentArea>
        <Accommodation v-for="(accommodation, index) in accommodation" :key="index" :accommodation="accommodation" :uid="uid"/>
        <q-btn class="center" color="primary" label="Add accomodation" @click="$router.push('accommodation/add')"/>
      </ContentArea>
      <q-btn class="bottom-right" round color="primary" icon="add" @click="$router.push('accommodation/add')"/>
    </Layout>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { GET_TRIP } from 'src/store/trips/getter.types'
import { SET_META } from 'src/store/trips/action.types'
import Layout from 'src/components/content/Layout'
import Banner from 'src/components/content/Banner'
import ContentArea from 'src/components/content/ContentArea'
import Breadcrumb from 'src/components/content/Breadcrumb'
import MetaTypes from 'src/helpers/metaTypes.js'
import Accommodation from 'src/components/accommodation/Accommodation'
export default {
  components: {
    Layout,
    Banner,
    ContentArea,
    Breadcrumb,
    Accommodation
  },
  data () {
    return {
      uid: this.$route.params.uid,
      trip: null,
      accommodation: null
    }
  },
  async created () {
    await this.setMeta({ uid: this.uid, meta: MetaTypes.Accommodation })
    this.trip = this.getTrip(this.uid)
    this.accommodation = this.trip.meta.accommodation
    this.accommodation.sort((a, b) => a.timestamp - b.timestamp)
  },
  computed: {
    ...mapGetters({
      getTrip: GET_TRIP
    })
  },
  methods: {
    ...mapActions({
      setMeta: SET_META
    })
  }
}
</script>
