<template>
  <div>
    <Banner icon="home">
      <h1>{{ uid2 && uid2 != 'add' ? 'Edit accommodation' : 'Add accommodation'}}</h1>
    </Banner>
    <Layout>
      <ContentArea>
        <Breadcrumb>
          <router-link :to="{ name: 'home' }">Trips</router-link>
          <router-link :to="{ name: 'trip', hash: '?details', params: { uid } }">{{!this.trip ? '' : this.trip.name}}</router-link>
          <router-link :to="{ name: 'accommodation', params: { uid } }">Accommodation</router-link>
          <span>{{ uid2 && uid2 != 'add' ? !this.accommodation ? '' : this.accommodation.name : 'New'}}</span>
        </Breadcrumb>
        <EditAccommodation v-if="accommodation" :uid="uid" :accommodation="accommodation" :places="places" :trip="trip"/>
      </ContentArea>
    </Layout>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { GET_TRIP } from 'src/store/trips/getter.types'
import { SET_META } from 'src/store/trips/action.types'
import Layout from 'src/components/content/Layout'
import Banner from 'src/components/content/Banner'
import ContentArea from 'src/components/content/ContentArea'
import Breadcrumb from 'src/components/content/Breadcrumb'
import EditAccommodation from 'src/components/accommodation/Edit'
import MetaTypes from 'src/helpers/metaTypes.js'
export default {
  components: {
    Layout,
    Banner,
    ContentArea,
    Breadcrumb,
    EditAccommodation
  },
  data () {
    return {
      uid: this.$route.params.uid,
      uid2: this.$route.params.uid2,
      trip: null,
      accommodation: null,
      places: null
    }
  },
  async created () {
    await this.setMeta({ uid: this.uid, meta: MetaTypes.Accommodation })
    await this.setMeta({ uid: this.uid, meta: MetaTypes.Places })
    const trip = this.getTrip(this.uid)
    this.trip = { ...trip }
    const accommodation = (this.trip.meta.accommodation && this.trip.meta.accommodation.find(accommodation => accommodation.uid === this.uid2)) || {}
    this.accommodation = { ...accommodation }
    this.places = [...this.trip.meta.places]
  },
  computed: {
    ...mapGetters({
      getTrip: GET_TRIP
    })
  },
  methods: {
    ...mapActions({
      setMeta: SET_META
    })
  }
}
</script>
