<template>
  <div>
    <q-input
      v-if="changeCurrency || locPrice"
      v-model.number="locPrice"
      type="number"
      label="Price"
      hint="Price in total in local currency"
      :prefix="(item.currency && item.currency.iso) || currency"
      @input="updatePrice"
    />
    <q-input
      v-else
      v-model.number="price"
      type="number"
      label="Price"
      hint="Price in total"
      :prefix="currency"
      @input="updatePrice"
    />
    <div class="toggle">
      <q-toggle
        v-model="changeCurrency"
        color="secondary"
        label="Change currency?"
        keep-color
        @input="updateCurrency"
      />
    </div>
    <template v-if="changeCurrency || locPrice">
      <q-select
        v-model="item.currency"
        label="Currency"
        :options="currencies"
        @input="updatePrice"
      />
      <q-input
        disabled
        v-model.number="price"
        type="number"
        label="Price"
        hint="Price in total in home currency"
        :prefix="currency"
      />
    </template>
  </div>
</template>

<script>
import { currencies, getExchangeValue } from 'src/helpers/exchangeRates.js'
import { getCurrency as currency, getCurrencyIso } from 'src/helpers/user.js'
import { debounce } from 'quasar'
export default {
  props: {
    item: Object
  },
  data () {
    return {
      price: this.item.price,
      locPrice: this.item.locPrice,
      currencies,
      currency,
      changeCurrency: Boolean(this.item.locPrice)
    }
  },
  methods: {
    updateCurrency (val) {
      if (val) {
        this.item.locPrice = this.locPrice = this.price
        this.item.price = this.price = null
      } else {
        this.item.locPrice = null
      }
    },
    updatePrice: debounce(async function () {
      if (this.item.currency && this.item.currency.iso) {
        const localCurrency = this.item.currency.iso
        const homeCurrency = getCurrencyIso
        const rate = await getExchangeValue(localCurrency, homeCurrency)
        this.price = Math.ceil((this.locPrice * rate) * 100) / 100
      }
      this.item.locPrice = this.locPrice || null
      this.item.price = this.price || null
    }, 500)
  }
}
</script>
