<template>
  <div>
    <q-select
      v-if="places && places.length > 1"
      :options="placeOptions"
      v-model="place"
      hint="Select one of your places to help you segregate budget"
      label="Place"
      @input="setPlace"
      class="filter"
    />
    <Selector @click.native="$router.push({ name: 'accommodation', params: { uid }})" thin>
      <q-icon name="local_hotel" slot="icon" />
      <h2 slot="title">
        Accommodation
      </h2>
      <div slot="amount">
        {{currency}}{{filteredAmounts.accommodation}}
      </div>
    </Selector>
    <Selector @click.native="$router.push({ name: 'transport', params: { uid }})" thin>
      <q-icon name="airplanemode_active" slot="icon" />
      <h2 slot="title">
        Transport
      </h2>
      <div slot="amount">
        {{currency}}{{filteredAmounts.transport}}
      </div>
    </Selector>
    <Selector @click.native="$router.push({ name: 'activities', params: { uid }})" thin>
      <q-icon name="local_offer" slot="icon" />
      <h2 slot="title">
        Activities
      </h2>
      <div slot="amount">
        {{currency}}{{filteredAmounts.activities}}
      </div>
    </Selector>
    <Selector @click.native="$router.push({ name: 'food', params: { uid }})" thin>
      <q-icon name="restaurant" slot="icon" />
      <h2 slot="title">
        Food
      </h2>
      <div slot="amount">
        {{currency}}{{filteredAmounts.food}}
      </div>
    </Selector>
    <Selector @click.native="$router.push({ name: 'other', params: { uid }})" thin>
      <q-icon name="edit" slot="icon" />
      <h2 slot="title">
        Other
      </h2>
      <div slot="amount">
        {{currency}}{{filteredAmounts.other}}
      </div>
    </Selector>
    <Selector :secondary="total <= trip.budget" :negative="total > trip.budget" thin>
      <q-icon name="money" slot="icon"/>
      <h2 slot="title">
        Total
      </h2>
      <div slot="amount">
        {{currency}}{{total}}
      </div>
    </Selector>
  </div>
</template>

<script>
import Selector from 'src/components/content/Selector'
import { getAmounts } from 'src/helpers/trips.js'
import { getCurrency as currency } from 'src/helpers/user.js'
export default {
  components: {
    Selector
  },
  props: {
    uid: String,
    trip: Object,
    amounts: Object,
    places: Array
  },
  data () {
    return {
      filteredAmounts: this.amounts,
      currency,
      place: 'All',
      placeOptions: this.places ? ['All', ...this.places.map(place => place.name)] : []
    }
  },
  computed: {
    total () {
      return Object.values(this.filteredAmounts).reduce((a, b) => a + b)
    }
  },
  methods: {
    setPlace (val) {
      const meta = { ...this.trip.meta }
      if (val === 'All') {
        this.filteredAmounts = this.amounts
        return
      }
      meta.accommodation = meta.accommodation.filter(meta => {
        return meta.place === val
      })
      meta.transport = meta.transport.filter(meta => {
        return meta.place === val
      })
      meta.activities = meta.activities.filter(meta => {
        return meta.place === val
      })
      meta.food = meta.food.filter(meta => {
        return meta.place === val
      })
      meta.other = meta.other.filter(meta => {
        return meta.place === val
      })
      this.filteredAmounts = getAmounts(meta)
    }
  }
}
</script>

<style lang="stylus" scoped>
.filter
  margin-bottom 20px
</style>
