<template>
  <div>
    <q-input
      ref="name"
      v-model="trip.name"
      label="Name *"
      class="trip-name"
      hint="'Around the World', 'Weekend in Amsterdam'..."
      :rules="[val => !!val || 'Field is required']"
    />
    <div class="image-upload">
      <q-file
        label="Image"
        accept=".jpg, image/*"
        hint="4Mb max"
        @input="uploadImage"
      />
      <div class="image-upload__image" v-if="imageLoading || trip.image">
        <q-inner-loading :showing="imageLoading">
          <q-spinner size="50px" color="primary" />
        </q-inner-loading>
        <img :src="trip.image" />
      </div>
    </div>
    <p class="negative" v-if="imageError">{{imageError}}</p>
    <!-- <q-select
      v-model="trip.currency"
      :options="currencies"
      hint="Currency for exchange rate values"
      label="Currency"
    /> -->
    <q-input
      v-model.number="trip.budget"
      type="number"
      label="Budget"
      hint="Flights, hotels, activities..."
      :prefix="currency"
    />
    <q-input
      ref="date"
      v-model="trip.startDate"
      label="Start date *"
      hint="Day your trip begins"
      @click="$refs.qStartDateProxy.show()"
      :rules="[val => !!val || 'Field is required']"
    >
      <template v-slot:append>
        <q-icon name="event" class="cursor-pointer">
          <q-popup-proxy ref="qStartDateProxy" transition-show="scale" transition-hide="scale">
            <q-date v-model="trip.startDate" @input="() => $refs.qStartDateProxy.hide()" mask="DD/MM/YYYY" :options="optionsStart"/>
          </q-popup-proxy>
        </q-icon>
      </template>
    </q-input>
    <q-input
      v-model="trip.endDate"
      label="End date"
      hint="Day your trip ends"
      @click="$refs.qEndDateProxy.show()"
    >
      <template v-slot:append>
        <q-icon name="event" class="cursor-pointer">
          <q-popup-proxy ref="qEndDateProxy" transition-show="scale" transition-hide="scale">
            <q-date v-model="trip.endDate" @input="() => $refs.qEndDateProxy.hide()" mask="DD/MM/YYYY" :options="optionsEnd"/>
          </q-popup-proxy>
        </q-icon>
      </template>
    </q-input>
    <div class="center">
      <q-btn v-if="trip.uid" :disabled="!online" color="negative" label="Delete" @click="confirmRemove = true"/>
      <q-btn color="primary" :disabled="!online" label="Save" @click="save"/>
    </div>
    <Confirm :show="confirmRemove" @cancel="confirmRemove = false" @confirm="remove"/>
  </div>
</template>

<script>
import { tripsRef, tripRef, firebaseTimeStamp } from 'src/helpers/firebaseRefs.js'
import { qDate, timestamp } from 'src/helpers/dates.js'
import { compressImage, checkImage, storeImage } from 'src/helpers/files.js'
import { currencies } from 'src/helpers/exchangeRates.js'
import { getCurrency as currency } from 'src/helpers/user.js'
import logError from 'src/helpers/error.js'
import EditMixin from 'src/mixins/Edit'
export default {
  mixins: [EditMixin],
  props: {
    uid: String,
    trip: Object
  },
  data () {
    return {
      image: '',
      imageLoading: false,
      imageError: '',
      currency,
      currencies
    }
  },
  methods: {
    async save () {
      this.$refs.name.validate()
      this.$refs.date.validate()
      if (this.$refs.name.hasError || this.$refs.date.hasError) {
        return false
      }

      this.$q.loading.show()
      const data = { ...this.trip }
      data.timestamp = timestamp(this.trip.startDate)
      const fbData = { ...data }
      const storeData = { ...data }
      delete fbData.meta && delete fbData.uid
      if (this.uid) {
        await tripRef(this.uid).set(fbData).catch(error => {
          logError(error)
        })
        this.updateTrip({ trip: storeData })
      } else {
        fbData.createdAt = firebaseTimeStamp
        await tripsRef().add(fbData).then(result => {
          storeData.uid = result.id
          storeData.meta = {}
        }).catch(error => {
          logError(error)
        })
        this.addTrip({ trip: storeData })
      }
      this.$q.loading.hide()
      this.$router.go('-1')
    },
    uploadImage (image) {
      compressImage(image, 500 * 1024, 1000, Infinity, 0.9, async blob => {
        this.imageLoading = true
        this.imageError = checkImage(blob)
        if (this.imageError) {
          this.imageLoading = false
          return
        }
        this.trip.image = await storeImage(blob, image.name)
        this.imageLoading = false
        if (this.uid) {
          const data = { ...this.trip }
          const fbData = { ...data }
          const storeData = { ...data }
          await tripRef(this.uid).set(fbData).catch(error => {
            logError(error)
          })
          this.updateTrip({ trip: storeData })
        }
      })
    },
    async remove () {
      this.$q.loading.show()
      await tripRef(this.trip.uid).delete().catch(error => {
        logError(error)
      })
      this.deleteTrip({ uid: this.trip.uid })
      this.$q.loading.hide()
      this.$router.push({ name: 'home' })
    },
    optionsStart (date) {
      return this.trip.endDate ? qDate(this.trip.endDate) && date <= qDate(this.trip.endDate) : true
    },
    optionsEnd (date) {
      return this.trip.startDate ? qDate(this.trip.startDate) && date >= qDate(this.trip.startDate) : true
    }
  }
}
</script>
