<template>
  <div>
    <Map v-if="trip.meta.places && coords && coords[0].length > 1" :coords="coords"/>
    <div class="indicator indicator--start">
      <q-icon name="home" />
      <span>Home</span>
    </div>
    <DottedLine />
    <template v-if="meta && meta.length">
      <div v-for="(item, index) in meta" :key="index">
        <template v-if="transportItem(item.type)">
          <Transport :transport="item" :uid="uid"/>
          <DottedLine />
        </template>
        <template v-else-if="activityItem(item.type)">
          <Activity icon :activity="item" :uid="uid"/>
          <DottedLine />
        </template>
        <template v-else-if="placeItem(item.type)">
          <Place :place="item" :trip="trip" :uid="uid"/>
          <DottedLine />
        </template>
        <template v-else-if="accommodationItem(item.type)">
          <Accommodation :accommodation="item" :uid="uid" small/>
          <DottedLine />
        </template>
      </div>
    </template>
    <template v-else-if="meta">
      <q-btn class="btn-center" round color="primary" icon="add" @click="$router.push(`${uid}/place/add`)"/>
      <DottedLine />
    </template>
    <template v-else>
      <q-inner-loading showing>
        <q-spinner size="50px" color="primary" />
      </q-inner-loading>
      <DottedLine />
    </template>
    <div class="indicator indicator--end">
      <q-icon name="flag" />
      <span>Finish</span>
    </div>
  </div>
</template>

<script>
import Map from 'src/components/map/Map'
import metaTypes from 'src/helpers/metaTypes.js'
import { setMetaOverview, setMap } from 'src/helpers/trips.js'
import DottedLine from 'src/components/content/DottedLine'
import Transport from 'src/components/transport/Transport'
import Activity from 'src/components/activities/Activity'
import Place from 'src/components/places/Place'
import Accommodation from 'src/components/accommodation/Accommodation'
export default {
  components: {
    DottedLine,
    Transport,
    Activity,
    Place,
    Accommodation,
    Map
  },
  data () {
    return {
      meta: null,
      places: null,
      coords: null
    }
  },
  props: {
    uid: String,
    trip: Object
  },
  created () {
    this.meta = setMetaOverview(this.trip.meta)
    this.coords = setMap(this.meta)
  },
  methods: {
    transportItem (type) {
      return type === metaTypes.Transport
    },
    placeItem (type) {
      return type === metaTypes.Places
    },
    accommodationItem (type) {
      return type === metaTypes.Accommodation
    },
    activityItem (type) {
      return type === metaTypes.Activities
    }
  },
  watch: {
    trip () {
      this.meta = setMetaOverview(this.trip.meta)
    }
  }
}
</script>

<style lang="stylus" scoped>
.btn-center
  margin 0 auto
  display block

.indicator
  border 1px solid grey
  border-radius 50%
  width 80px
  height 80px
  margin 0 auto
  text-align center

  &--start
    margin-top 20px

  i
    display block
    font-size 40px
    margin 6px auto 0

.selector,
.card
  margin 0 auto
</style>
