<template>
  <Card :style="`background-image:url(${trip.image})`" :url="`trip/${trip.uid}`">
    <h2 slot="title">
      {{trip.name}}
    </h2>
    <div slot="date">
      <span class="start-date">{{trip.startDate}}</span>
      <span class="days">{{days()}}</span>
    </div>
  </Card>
</template>

<script>
import Card from 'src/components/content/Card'
import { timestamp, msToDays } from 'src/helpers/dates.js'
export default {
  components: {
    Card
  },
  props: {
    trip: Object
  },
  methods: {
    days () {
      if (this.trip && this.trip.endDate) {
        const da = timestamp(this.trip.startDate)
        const de = timestamp(this.trip.endDate)
        const momo = msToDays(de - da) + 1
        return `${Math.ceil(momo)} days`
      }
    }
  }
}
</script>
