<template>
  <Layout>
    <ContentArea v-if="trips && trips.length === 0">
      <p>Hi! It looks like you haven't added any trips yet.</p>
      <p>Click the button below to get started.</p>
    </ContentArea>
    <div class="trips">
      <q-inner-loading v-if="!trips" showing>
        <q-spinner size="50px" color="primary" />
      </q-inner-loading>
      <template v-else>
        <div class="center" v-if="currentTrip && currentTrip.length">
          <h2>Current trip</h2>
          <Trip v-for="(trip, index) in currentTrip" :key="index" :trip="trip"/>
        </div>
        <div class="center" v-if="upcomingTrips && upcomingTrips.length">
          <h2>Upcoming trips</h2>
        <Trip v-for="(trip, index) in upcomingTrips" :key="index" :trip="trip"/>
        </div>
        <div class="center" v-if="pastTrips && pastTrips.length">
          <h2>Past trips</h2>
          <Trip v-for="(trip, index) in pastTrips" :key="index" :trip="trip"/>
        </div>
        <q-btn class="bottom-right" round color="primary" icon="add" @click="$router.push('add')"/>
        <q-btn class="center" color="primary" label="Add trip" @click="$router.push('add')"/>
      </template>
    </div>
  </Layout>
</template>

<script>
import Layout from 'src/components/content/Layout'
import ContentArea from 'src/components/content/ContentArea'
import Trip from 'src/components/trips/Trip'
import { qDate } from 'src/helpers/dates.js'
export default {
  components: {
    Layout,
    ContentArea,
    Trip
  },
  props: {
    trips: Array
  },
  data () {
    return {
      currentTrip: null,
      upcomingTrips: null,
      pastTrips: null
    }
  },
  created () {
    this.upcomingTrips = this.trips.filter(trip => new Date() < new Date(qDate(trip.startDate)))
    this.pastTrips = this.trips.filter(trip => trip.endDate && new Date() > new Date(qDate(trip.endDate)))
    this.currentTrip = this.trips.filter(trip => trip.endDate && new Date() > new Date(qDate(trip.startDate)) && new Date() < new Date(qDate(trip.endDate)))
    console.log(this.currentTrip)
  }
}
</script>

<style lang="stylus" scoped>
.trips
  min-height 200px
  position relative
</style>
