<template>
  <div id="q-app">
    <div id="map" />
    <router-view v-if="loaded"/>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { SET_USER_ID, SET_USER_DETAILS } from 'src/store/user/action.types'
import { SET_TRIPS } from 'src/store/trips/action.types'
import firebase from 'firebase/app'
export default {
  name: 'App',
  data () {
    return {
      loaded: false
    }
  },
  async mounted () {
    await firebase.auth().onAuthStateChanged(async user => {
      this.$q.loading.show()
      if (user) {
        await this.setUserId({ userId: user.uid })
        this.setUserDetails()
        await this.setTrips()
      }
      this.loaded = true
      this.$q.loading.hide()
    })
    let admobid = {}
    if (/(android)/i.test(navigator.userAgent)) {
      admobid = {
        banner: 'ca-app-pub-3940256099942544/6300978111',
        interstitial: 'ca-app-pub-3940256099942544/1033173712'
      }
    }
    if (window && window.AdMob) {
      try {
        window.AdMob.createBanner({
          adId: admobid.banner,
          position: window.AdMob.AD_POSITION.BOTTOM_CENTER,
          autoShow: true
        })
        // window.AdMob.prepareInterstitial({ adId: admobid.interstitial, autoShow: true })
      } catch (error) {
        console.log(error)
      }
    }
    document.addEventListener('onAdFailLoad', error => {
      this.status = error.reason
    })
  },
  methods: {
    ...mapActions({
      setUserId: SET_USER_ID,
      setUserDetails: SET_USER_DETAILS,
      setTrips: SET_TRIPS
    })
  }
}
</script>

<style lang="stylus" scoped>
#q-app
  >>> .q-toolbar
    padding: 0 10px
</style>
