<template>
  <div class="map" v-if="coords && coords.length > 0 && online" />
</template>

<script>
import mapInit, { mapStyles } from 'src/helpers/maps.js'
export default {
  name: 'Map',
  props: {
    coords: Array
  },
  data () {
    return {
      google: null,
      map: null
    }
  },
  created () {
    if (this.coords) {
      this.render()
    }
  },
  computed: {
    online () {
      return window.navigator.onLine
    }
  },
  methods: {
    async render () {
      this.google = await mapInit()
      if (!document.querySelector('.map')) {
        return
      }
      this.map = new this.google.maps.Map(document.querySelector('.map'), {
        center: { lat: 24, lng: 10 },
        zoom: 1,
        disableDefaultUI: true,
        styles: mapStyles
      })

      const symbol = {
        path: this.google.maps.SymbolPath.CIRCLE,
        strokeColor: '#43ac5d',
        fillColor: '#43ac5d',
        fillOpacity: 1
      }
      const planeSymbol = {
        path: 'M362.985,430.724l-10.248,51.234l62.332,57.969l-3.293,26.145 l-71.345-23.599l-2.001,13.069l-2.057-13.529l-71.278,22.928l-5.762-23.984l64.097-59.271l-8.913-51.359l0.858-114.43 l-21.945-11.338l-189.358,88.76l-1.18-32.262l213.344-180.08l0.875-107.436l7.973-32.005l7.642-12.054l7.377-3.958l9.238,3.65 l6.367,14.925l7.369,30.363v106.375l211.592,182.082l-1.496,32.247l-188.479-90.61l-21.616,10.087l-0.094,115.684',
        scale: 0.04,
        strokeOpacity: 1,
        strokeColor: '#352956',
        strokeWeight: 1,
        fillColor: '#43ac5d',
        fillOpacity: 1,
        anchor: new this.google.maps.Point(320, 400)
      }
      const lineSymbol = {
        path: 'M 0,-1 0,1',
        strokeOpacity: 1,
        strokeColor: '#43ac5d',
        scale: 2
      }
      if (this.coords) {
        this.coords.forEach(coordSet => {
          for (let i = 0; i < coordSet.length; i++) {
            if (coordSet[i + 1]) {
              const icons = [{
                icon: lineSymbol,
                offset: '0',
                repeat: '10px'
              }, {
                icon: symbol,
                offset: '0%'
              }, {
                icon: symbol,
                offset: '100%'
              }]
              if (coordSet[i].name === 'Flight') {
                icons.push({
                  icon: planeSymbol,
                  offset: '55%'
                })
              }
              const tripPath = new this.google.maps.Polyline({
                path: [{ lat: coordSet[i].lat, lng: coordSet[i].lng }, { lat: coordSet[i + 1].lat, lng: coordSet[i + 1].lng }],
                geodesic: true,
                strokeOpacity: 0,
                icons
              })
              tripPath.setMap(this.map)
            }
          }
        })
        const tripPath = new this.google.maps.Polyline({
          path: this.coords.flat(),
          strokeOpacity: 0
        })
        const bounds = new this.google.maps.LatLngBounds()
        const points = tripPath.getPath().getArray()
        for (let n = 0; n < points.length; n++) {
          bounds.extend(points[n])
        }
        this.map.fitBounds(bounds)
      }
    }
  },
  watch: {
    coords () {
      this.render()
    }
  }
}
</script>

<style lang="stylus" scoped>
.map,
.map-default
  height 238px
  width 100%
  margin-bottom 10px
  position relative
  background $secondary
  color white
  line-height 238px

.banner .map
  height 100%
  position absolute
  bottom -10px
  left 0
  z-index 2

.map >>> > div
  background $secondary !important
</style>
