<template>
  <q-layout view="lHh Lpr lFf">
    <div class="page">
      <q-header>
        <q-toolbar>

          <q-toolbar-title>
            Travel Budgie
          </q-toolbar-title>

          <div>Login</div>
        </q-toolbar>
      </q-header>

      <div class="content">
        <router-view />
      </div>
      <div class="footer">
        Version 1.0
      </div>
    </div>
  </q-layout>
</template>

<script>
export default {
  name: 'AuthLayout'
}
</script>

<style lang="stylus" scoped>
.q-layout
  background $secondary
.footer
  background $secondary
  color white
  position static
  width 100%
  padding 20px
  z-index 2
.page
  background white
</style>
