<template>
  <q-layout view="lHh Lpr lFf">
    <q-header>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          icon="menu"
          aria-label="Menu"
        />

        <q-toolbar-title>
          Travel Budgie
        </q-toolbar-title>
      </q-toolbar>
    </q-header>
    <div class="header-bg"></div>
    <q-drawer
      v-model="leftDrawerOpen"
      bordered
      content-class="bg-grey-1"
      @click="leftDrawerOpen = !leftDrawerOpen"
    >
      <q-list>
        <q-item-label header class="text-grey-8">Menu</q-item-label>
        <Link
          v-for="link in links"
          :key="link.title"
          v-bind="link"
          :external="link.external"
        />
      </q-list>
    </q-drawer>
    <div class="content" @click="leftDrawerOpen = false">
      <router-view />
    </div>
    <q-footer>
    </q-footer>
  </q-layout>
</template>

<script>
import Link from 'components/content/Link'

export default {
  name: 'MainLayout',
  components: {
    Link
  },
  data () {
    return {
      leftDrawerOpen: false,
      links: [
        {
          title: 'Home',
          caption: 'Trip list',
          icon: 'home',
          link: '/'
        },
        {
          title: 'Profile',
          caption: 'Profile settings',
          icon: 'person',
          link: '/profile'
        },
        {
          title: 'Sign out',
          caption: 'Return to login',
          icon: 'exit_to_app',
          logout: true
        }
      ]
    }
  }
}
</script>

<style lang="stylus" scoped>
.content
  margin-bottom 20px
</style>
