<template>
  <div>
    <q-select
      ref="type"
      v-model="transport.name"
      :options="typeOptions"
      hint="Type of transport"
      label="Type *"
      :rules="[val => !!val || 'Field is required']"
    />
    <q-select
      v-if="places && places.length > 1"
      v-model="transport.place"
      :options="placeOptions"
      hint="Select one of your places to help you segregate budget"
      label="Place"
    />

    <Price :item="transport" />

    <q-input
      v-model="from"
      label="From"
      title="from"
      input-class="transport-name"
      hint="Place your're travelling from (using Google)"
    />
    <q-input
      v-model="to"
      label="To"
      title="to"
      input-class="transport-name"
      hint="Place your're travelling to (using Google)"
    />

    <q-input
      ref="date"
      v-model="transport.date"
      label="Date *"
      hint="Day travel begins"
      :rules="[val => !!val || 'Field is required']"
      @click="$refs.qStartDateProxy.show()"
    >
      <template v-slot:append>
        <q-icon name="event" class="cursor-pointer">
          <q-popup-proxy ref="qStartDateProxy" transition-show="scale" transition-hide="scale">
            <q-date v-model="transport.date" @input="() => $refs.qStartDateProxy.hide()" mask="DD/MM/YYYY HH:mm" :options="dateOptions"/>
          </q-popup-proxy>
        </q-icon>
        <q-icon name="access_time" class="cursor-pointer">
          <q-popup-proxy transition-show="scale" transition-hide="scale">
            <q-time v-model="transport.date" mask="DD/MM/YYYY HH:mm" format24h />
          </q-popup-proxy>
        </q-icon>
      </template>
    </q-input>

    <div class="toggle" v-if="!transport.uid">
      <q-toggle
        v-model="returnFlight"
        color="secondary"
        label="Return trip?"
        keep-color
      />
    </div>

    <q-input
      v-if="returnFlight"
      v-model="returnDate"
      label="Return date"
      hint="Day return travel begins"
      @click="$refs.qEndDateProxy.show()"
    >
      <template v-slot:append>
        <q-icon name="event" class="cursor-pointer">
          <q-popup-proxy ref="qEndDateProxy" transition-show="scale" transition-hide="scale">
            <q-date v-model="returnDate" @input="() => $refs.qEndDateProxy.hide()" mask="DD/MM/YYYY HH:mm" :options="dateOptions"/>
          </q-popup-proxy>
        </q-icon>
        <q-icon name="access_time" class="cursor-pointer">
          <q-popup-proxy transition-show="scale" transition-hide="scale">
            <q-time v-model="returnDate" mask="DD/MM/YYYY HH:mm" format24h />
          </q-popup-proxy>
        </q-icon>
      </template>
    </q-input>

    <div class="center">
      <q-btn v-if="transport.uid" :disabled="!online" color="negative" label="Delete" @click="confirmRemove = true"/>
      <q-btn color="primary" :disabled="!online" label="Save" @click="save"/>
    </div>
    <Confirm :show="confirmRemove" @cancel="confirmRemove = false" @confirm="remove"/>
  </div>
</template>

<script>
import { tripCategoryRef, tripCategoryItemRef, firebaseTimeStamp } from 'src/helpers/firebaseRefs.js'
import MetaTypes from 'src/helpers/metaTypes.js'
import mapInit, { setDetails } from 'src/helpers/maps.js'
import TransportTypes from 'src/helpers/transportTypes.js'
import Price from 'src/components/elements/Price'
import { timestamp } from 'src/helpers/dates.js'
import { wait } from 'src/helpers/general.js'
import logError from 'src/helpers/error.js'
import EditMixin from 'src/mixins/Edit'
// import { getFlight } from 'src/helpers/flights.js'
export default {
  components: {
    Price
  },
  mixins: [EditMixin],
  props: {
    uid: String,
    trip: Object,
    transport: Object,
    places: Array
  },
  data () {
    return {
      typeOptions: TransportTypes.map(type => type.name),
      from: (this.transport.from && this.transport.from.name) || '',
      to: (this.transport.to && this.transport.to.name) || '',
      detailsFromSet: (this.transport.from && this.transport.from.googleId) || null,
      detailsToSet: (this.transport.from && this.transport.to.googleId) || null,
      returnFlight: false,
      returnDate: null
    }
  },
  async created () {
    // getFlight(this.transport.date)
    if (!this.transport.from) {
      this.transport.from = {
        name: ''
      }
      this.transport.to = {
        name: ''
      }
    }
    this.google = await mapInit()
    const inputs = document.querySelectorAll('.transport-name')
    inputs.forEach(input => {
      const field = input.getAttribute('title')
      const autocomplete = new this.google.maps.places.Autocomplete(input, {})
      autocomplete.addListener('place_changed', async () => {
        const details = await autocomplete.getPlace()
        if (field.indexOf('from') > -1) {
          this.from = this.transport.from.name = details.name
          setDetails(this.transport.from, details)
        } else {
          this.to = this.transport.to.name = details.name
          setDetails(this.transport.to, details)
        }
      })
    })
  },
  methods: {
    async save () {
      this.$refs.type.validate()
      this.$refs.date.validate()
      if (this.$refs.type.hasError || this.$refs.date.hasError) {
        return false
      }

      this.$q.loading.show()
      await wait(0.5)
      this.transport.timestamp = timestamp(this.transport.date)
      const fbData = { ...this.transport }
      let storeData = { ...this.transport }
      delete fbData.uid
      if (this.transport.uid) {
        await tripCategoryItemRef(this.uid, MetaTypes.Transport, this.transport.uid).set(fbData).catch(error => {
          logError(error)
        })
        this.updateMeta({ uid: this.uid, meta: MetaTypes.Transport, updatedMeta: storeData, updatedMetaUid: storeData.uid })
      } else {
        fbData.createdAt = firebaseTimeStamp
        await tripCategoryRef(this.uid, MetaTypes.Transport).add(fbData).then(data => {
          storeData.uid = data.id
        }).catch(error => {
          logError(error)
        })
        this.addMeta({ uid: this.uid, meta: MetaTypes.Transport, newMeta: storeData })
        if (this.returnDate) {
          fbData.date = this.returnDate
          fbData.timestamp = timestamp(this.returnDate)
          fbData.to = storeData.from
          fbData.from = storeData.to
          fbData.price = 0
          storeData = fbData
          await tripCategoryRef(this.uid, MetaTypes.Transport).add(fbData).then(data => {
            storeData.uid = data.id
          })
          this.addMeta({ uid: this.uid, meta: MetaTypes.Transport, newMeta: storeData })
        }
      }
      this.$q.loading.hide()
      this.$router.go('-1')
    },
    async remove () {
      this.$q.loading.show()
      this.deleteMeta({ uid: this.uid, meta: MetaTypes.Transport, deletedMeta: this.transport })
      await tripCategoryItemRef(this.uid, MetaTypes.Transport, this.transport.uid).delete().catch(error => {
        logError(error)
      })
      this.$q.loading.hide()
      this.$router.go('-1')
    }
  }
}
</script>
