<template>
  <Selector @click.native="$router.push(`/trip/${uid}/transport/${transport.uid}`)">
    <q-icon :name="icon" slot="icon" />
    <h2 slot="title">
      {{title}}
    </h2>
    <div slot="date">
      {{transport.date}}
    </div>
    <div slot="amount" v-if="transport.price">
      {{currency}}{{transport.price}}
    </div>
  </Selector>
</template>

<script>
import Selector from 'src/components/content/Selector'
import { getCurrency as currency } from 'src/helpers/user.js'
export default {
  components: {
    Selector
  },
  props: {
    uid: String,
    transport: Object
  },
  data () {
    return {
      currency
    }
  },
  created () {
  },
  computed: {
    title () {
      return this.transport.to ? `${this.transport.name} to ${this.transport.to.name}` : this.transport.name
    },
    icon () {
      switch (this.transport.name) {
        case 'Train':
          return 'train'
        case 'Boat':
          return 'directions_boat'
        default:
          return 'flight'
      }
    }
  }
}
</script>
